<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="post_form">
        <%= render 'shared/post_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Posts</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="row">
      <div class="col-md-4"></div>
      
      <div class="col-md-4">
          <div class="row"><br><br><br><br><br><br><br></div>
          <div class="panel panel-default">
              <div class="panel-heading panel-heading-custom"><center><font color="white"><b>AUDIOPROOF</b></font></center></div>
              <div class="panel-body">
                      <%= form_for(:session, url: login_path) do |f| %>
                      <font color="black"><%= f.label :email %></font>
                      <%= f.email_field :email, class: 'form-control' %>
                      <font color="black"><%= f.label :password %></font>
                      <%= f.password_field :password, class: 'form-control' %>
                      <%= f.label :remember_me, class: "checkbox inline" do %>
                      <font color="black"><%= f.check_box :remember_me %>
                      <font color="black"><span>Remember me on this computer</span></font>
                      <% end %>
                      <%= f.submit "Log In", class: "btn btn-primary" %>
                      <% end %>
                      <div class="row"><br></div>
                      <font color="black" size="1.8"><p>New user? <%= link_to "Sign up", signup_path %></p></font>
              </div>   
          </div>
      </div>
      <div class="col-md-4"></div>
  </div>
      
      <div class="row"><br><br><br><br></div>
<% end %>
