<%= form_for(Comment.new) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :comment_body, placeholder: "Compose new comment..." %>
  </div>
  <div class="field">
    <%= f.label :anonymous_comment, "Comment anonymously" %>
    <%= f.check_box :anonymous_comment %>
  </div>
  <%= f.submit "Post comment", class: "btn btn-primary" %>
<% end %>
