<% provide(:title, 'Sign up') %>
<div class="row">
    <div class="col-md-4"></div>
    
    <div class="col-md-4">
        <div class="row"><br><br><br></div>
        <div class="panel panel-default">
            <div class="panel-heading panel-heading-custom"><center><font color="white"><b>SIGN UP</b></font></center></div>
              <div class="panel-body">
                <%= form_for(@user) do |f| %>
                  <%= render 'shared/error_messages', object: f.object %>
                  <font color="black"><%= f.label :username %></font>
                  <%= f.text_field :username, class: 'form-control' %>
                  <font color="black"><%= f.label :email %></font>
                  <%= f.email_field :email, class: 'form-control' %>
                  <font color="black"><%= f.label :password %></font>
                  <%= f.password_field :password, class: 'form-control' %>
                  <font color="black"><%= f.label :password_confirmation, "Confirmation" %></font>
                  <%= f.password_field :password_confirmation, class: 'form-control' %>
                  <%= f.submit "Create my account", class: "btn btn-primary" %>
                <% end %>
              </div>
        </div>
    </div>
    
    <div class="col-md-4"></div>
</div>

 <div class="row"><br><br><br><br><br></div>