<li id="post-<%= @post.id %>">
  <%= link_to '<-- Back', request.referrer || root_url %><br/>
  <span class="user"><%= link_to '#'+@post.user.username, @post.user %></span><br/>
  <span class="content">
    <%= @post.content.html_safe %>
    <%= image_tag @post.picture.url if @post.picture? %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(@post.created_at) %> ago.
    <% if current_user == (@post.user) %>
      <%= link_to "delete", @post, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
  <div class="col-md-8">
    <% if @post.comments.any? %>
      <h4>Comments (<%= @post.comments.count %>)</h4>
      <ol class="comments">
        <%= render @post.comments %>
      </ol>
    <% end %>
  </div>
  <div class="col-md-4">
    <section class="comment_form">
      <%= form_for [@post, Comment.new] do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="field">
          <%= f.label :comment_body, "New comment" %><br/>
          <%= f.text_area :comment_body, placeholder: "Compose new comment..." %>
        </div>
        <div class="field">
          <%= f.label :anonymous_comment, "Comment anonymously" %><br/>
          <%= f.check_box :anonymous_comment %>
        </div>
        <%= f.submit "Post comment", class: "btn btn-primary" %>
      <% end %>
    </section>
  </div>
</li>
